### 1. Python basics level

In [2]:
#print and comments
print("Hello world") #This is a comment

Hello world

In [4]:
# declaring variables with data types
a = 6 #integer
b = 7.5 #float
c = "Hello world" #string
d = True #boolean
a,b,c,d

(6, 7.5, 'Hello world', True)

In [6]:
# use of input function
# for integer
n = int(input("Enter a number: "))
print("The number is: ", n)

Enter a number:  1

The number is:  1

In [8]:
#for float
a = float(input("Enter the price: "))
print("The price is: ", a)

Enter the price:  12

The price is:  12.0

In [55]:
#for string
t = input("Enter a name: ")
print("My name is: ", t)

Enter a name:  Natasha

My name is:  Natasha

In [43]:
#for boolean
s = bool(input("Enter a condition: "))
print("The condition is: ", s)

Enter a condition:  2

The condition is:  True

In [81]:
#Type casting and conversion
print(f"The data type of variable 'n' is {type(n)}")
print(f"The data type of variable 'a' is {type(a)}")
print(f"The data type of variable 't' is {type(t)}")
print(f"The data type of variable 's' is {type(s)}")

#implicit type conversion
g = n + a #n is implicitly converted into float
print(g)
print(f"The data type of variable 'num' is {type(g)}")

#explicit type casting
str_num = "123"
print(f"The data type of variable 'num' is {type(str_num)}")
num = int(str_num) #str_num is converted from string to integer
print("The number is", num)
print(f"The data type of variable 'num' is {type(num)}")

ft_num = 12.6
print(f"The data type of variable 'ft_num' is {type(ft_num)}")
int_num = int(ft_num) #ft_num is converted from float to integer
print("The number is: ", int_num)
print(f"The data type of variable 'int_num' is {type(int_num)}")

The data type of variable 'n' is <class 'int'>
The data type of variable 'a' is <class 'float'>
The data type of variable 't' is <class 'str'>
The data type of variable 's' is <class 'bool'>
24.0
The data type of variable 'num' is <class 'float'>
The data type of variable 'num' is <class 'str'>
The number is 123
The data type of variable 'num' is <class 'int'>
The data type of variable 'ft_num' is <class 'float'>
The number is:  12
The data type of variable 'int_num' is <class 'int'>

In [100]:
#Arithmetic operators
q = 22
w = 17
k = q - w #Subtraction
print(f"The difference is {k}")
l = q + w #Addition
print(f"The sum is {l}")
m = q * w #Multiplication
print(f"The product is {m}")
u = q / w #Division
print(f"The value is {u}")
r = q // w #Floor division
print(f"The value is {r}")
p = q % w #Modulus
print(f"The remainder is {p}")
o = q ** w #Exponentiation
print(f"The power is {o}")

The difference is 5
The sum is 39
The product is 374
The value is 1.2941176470588236
The value is 1
The remainder is 5
The power is 66249952919459433152512

In [87]:
#Comparison operators
print(f"Equal?: {q==w}")
print(f"Not equal?: {q!=w}")
print(f"Greater than w?: {q>w}")
print(f"Less than w?: {q<w}")
print(f"Greater than or equal to w?: {q>=w}")
print(f"Less than or equal to w?: {q<=w}")

Equal?: False
Not equal?: True
Greater than w?: True
Less than w?: False
Greater than or equal to w?: True
Less than or equal to w?: False

In [95]:
#Logical operators
print(f"Does 19 lie between q and w?: {19 < q and 19 > w}")
print(f"Suitable?: {19 < q or 19 < w}")
print(f"Is the condition true?: {not(19 > q and 19 < w)}")

Does 19 lie between q and w?: True
Suitable?: True
Is the condition true?: True

### 2. Control Flow

In [112]:
#if elif else statements
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
z = int(input("Enter third number: "))
if x > y and x > z:
    print("The greatest is x")
elif y > x and y > z:
    print("The greatest is y")
else:
    print("The greatest is z")

Enter first number:  1
Enter second number:  2
Enter third number:  3

The greatest is z

In [126]:
#nested if conditions
s= int(input("Enter your age: "))
member = input("Are you a member?: ").lower()
if s > 18:
    if member == "yes":
        print("You are a member")
    else:
        print("Not a member")
else:
    print("Minor")

Enter your age:  22
Are you a member?:  YES

You are a member

In [139]:
#boolean logic
a = True
b = True
c = False

print(a and c) # and: Both conditions must be True

print(b or c) # or: At least one of the conditions must be True

print(not b) # not: Outputs the opposite condition

False
True
False

### 3. Loops

In [157]:
#for loops
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [1]:
num = [1,2,3,4,5,6,7,8]
for i in num:
    if i > 5:
        print(i)

6
7
8

In [10]:
# while loops
i = 12
while i < 20:
    print(i)
    i += 1

12
13
14
15
16
17
18
19

In [20]:
#break
for i in range(3,12):
    if i == 10:
        break
    print(i)

3
4
5
6
7
8
9

In [22]:
# continue
for i in range(7):
    if i == 4:
        continue
    print(i)

0
1
2
3
5
6

In [26]:
#pass
for i in range(1, 4):
    if i == 2:
        pass  # placeholder, no action needed for this condition
    print(i)

1
2
3

In [34]:
#enumerate keeps track of number of iterations in the loop
fruits = ["apple", "banana", "orange", "grapes", "mango"]
for index, item in enumerate(fruits, start=1):
    print(f"Item {index}: {item}")

Item 1: apple
Item 2: banana
Item 3: orange
Item 4: grapes
Item 5: mango

In [49]:
#zip combines the list
price = [120, 122, 234, 523, 132, 123]
combine = list(zip(fruits, price))
for index, item in enumerate(combine, start=1):
    print(f"Item {index}: {item}")

Item 1: ('apple', 120)
Item 2: ('banana', 122)
Item 3: ('orange', 234)
Item 4: ('grapes', 523)
Item 5: ('mango', 132)

### 4. Data Structures

In [184]:
#list
age = [12, 14, 16, 17, 18, 20, 12, "hi", True] 
print(age)
print(age[4]) #indexing
print(age[2:4]) #slicing
print(age[-4:-1]) #slicing
age.append("bye") # adding element into the list
print(age)
age.insert(2, 45) #adding index element into the list
print(age)
age.remove(16) # removing element
print(age)
age[3] = 90
age

[12, 14, 16, 17, 18, 20, 12, 'hi', True]
18
[16, 17]
[20, 12, 'hi']
[12, 14, 16, 17, 18, 20, 12, 'hi', True, 'bye']
[12, 14, 45, 16, 17, 18, 20, 12, 'hi', True, 'bye']
[12, 14, 45, 17, 18, 20, 12, 'hi', True, 'bye']

[12, 14, 45, 90, 18, 20, 12, 'hi', True, 'bye']

In [3]:
#tuple
name = ("nat", "sam", "rose", "aaditi") #tuple
print(name)
print(name[2]) # indexing
# updating tuple by converting it into a list
y = list(name) #converting tuple into the list
y[1] = "kiwi"
name = tuple(y) #converting list into tuple
print(name)

('nat', 'sam', 'rose', 'aaditi')
rose
('nat', 'kiwi', 'rose', 'aaditi')

In [188]:
#dictionary
dt = {1: "Nat", 2: "Sam", 3:"Aaditi", 4:"Rose"}
print(dt.get(2)) #indexing
print(dt.get(4)) #indexing
dt.update({4:"Pandu"}) #updating dict
dt[5]="Rose"
dt.pop(5) #removing element according to index
dt

Sam
Rose

{1: 'Nat', 2: 'Sam', 3: 'Aaditi', 4: 'Pandu'}

In [190]:
#sets
sets = {"apple", "banana", "cherry", "berry", "apple"}

for each in sets: #iterating through each element
    print(each)

sets.add("orange") #add element
print(sets)
tropical = {"pineapple", "mango", "papaya"}
sets.update(tropical) # update all elements into the list
print(sets)
sets.remove("cherry")
sets

banana
berry
cherry
apple
{'berry', 'apple', 'banana', 'cherry', 'orange'}
{'berry', 'pineapple', 'apple', 'mango', 'banana', 'cherry', 'orange', 'papaya'}

{'apple', 'banana', 'berry', 'mango', 'orange', 'papaya', 'pineapple'}

In [206]:
#Comprehensions
#list
a = [x**3 for x in range(1, 5) if x==2] 
print(a)

#dictionary
b = {x: x-2 for x in range(1, 10)}
print(b)

#set
c = {x**2 for x in [1, 2, 2, 3, 3, 4]}
print(c)

[8]
{1: -1, 2: 0, 3: 1, 4: 2, 5: 3, 6: 4, 7: 5, 8: 6, 9: 7}
{16, 1, 4, 9}

### 5. Functions

In [217]:
# defining functions with def
def cal(a, b):
    return a+b, a-b, a*b

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

summ, diff, pro = cal(a,b)

print("The sum is: ", summ)
print("The difference is: ", diff)
print("The product is: ", pro)

Enter first number:  3
Enter second number:  4

The sum is:  7
The difference is:  -1
The product is:  12

In [229]:
#default arguments
def home(name = "Lalitpur"): # passes default value if no argument is called
    print("I am from ", name)

home("Kathmandu")
home()

I am from  Kathmandu
I am from  Lalitpur

In [235]:
#keyword arguments
def ranking(second, third, first) :
    print("The first to win the race is:", first)

ranking(third="dustin", second="mike", first="elle") #order will not matter

The first to win the race is: elle

In [237]:
#Arbitrary arguments *args
def stud_num(*stud): # used when number of arguments is not fixed
    print("The name of students enrolled: ", stud)

stud_num("Nat", "Aaditi", "Rose", "Sam")

The name of students enrolled:  ('Nat', 'Aaditi', 'Rose', 'Sam')

In [239]:
#Arbitrary keyword arguments *kwargs
def fruits(**price):
    print("The price for mango is: ", price["mango"])

fruits(apple=120, grapes=62, berry=322, mango=234)

The price for mango is:  234

In [249]:
#Lamda functions, anonymous function that can take many arguments but have only one expression
x = lambda a, b, c : a * b + c
print(x(3,6,9))

27

In [5]:
#local scope, can only be used inside the function where it is declared
def num():
    x = 1000
    if x % 2 == 0:
        print(x)
num()

1000

In [269]:
#global scope, can be used both inside and outside the function, is created in the main body
n = "Natasha"

def name():
    print("My name is: ", n)

name()
print(n)

My name is:  Natasha
Natasha

In [277]:
#global keyword
x = 500
def myfunc():
    global x
    x = 250

myfunc()
print(x)

250

### 6. Basic string and file operations

In [292]:
#String methods
n = " Hello, my name is  Natasha "
print(n.lower()) #converts in lower case
print(n.upper()) #converts in upper case
print(n.strip()) #removes all white spaces
print(n.replace("Natasha", "Nat")) #replaces element with another
print(n.split(",")) #splits text
print("natasha" in n.lower()) #checks if the condition is true

 hello, my name is  natasha
 HELLO, MY NAME IS  NATASHA
Hello, my name is  Natasha
 Hello, my name is  Nat
[' Hello', ' my name is  Natasha ']
True

In [294]:
#String formatting
name = "Natasha"
age = 19

print("My name is {} and I am {} years old.".format(name, age))
print(f"My name is {name} and I am {age} years old.") #f-strings

My name is Natasha and I am 19 years old.
My name is Natasha and I am 19 years old.

In [300]:
#writing files
with open("Nat.txt", "w") as file:
    file.write("Hello everybody!!!\n")
    file.write("My name is Natashaaaa.")

In [304]:
with open("Nat.txt", "r") as file:
    content = file.read()
    print(content)

Hello everybody!!!
My name is Natashaaaa.
I live in Lalitpur, Nepal.

In [310]:
with open("Nat.txt", "a") as file:
    file.write("\nThis line was added/appended.\n")

### 7. Python intermediate level
### Modules and packages

In [316]:
import numpy as np
import pandas as pd
import math
import datetime
import random
import sys
import json
import requests

In [320]:
def eligible(n):
    if n > 18:
        return "Eligible"
    else:
        return "Not eligible"